.frame {
  padding: 3rem var(--page-padding, 1.5rem) 0;
  display: grid;
  z-index: 1000;
  position: relative;
  grid-row-gap: 1rem;
  grid-column-gap: 2rem;
  pointer-events: none;
  justify-items: start;
  grid-template-columns: auto auto auto 1fr;
  grid-template-areas:
    "title title title title"
    "back archive github ..."
    "demos demos demos demos"
    "tags tags tags tags"
    "sponsor sponsor sponsor sponsor";
  color: #fff;
  mix-blend-mode: difference;
}

.frame a,
.frame button {
  pointer-events: auto;
  color: #fff;
  mix-blend-mode: difference;
}

.frame__title {
  grid-area: title;
  font-size: inherit;
  margin: 0;
  color: #fff;
  mix-blend-mode: difference;
}

.frame__back {
  grid-area: back;
  justify-self: start;
}

.frame__archive {
  grid-area: archive;
  justify-self: start;
}

.frame__github {
  grid-area: github;
}

.frame__tags {
  grid-area: tags;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.frame__tags a {
  color: #fff;
  mix-blend-mode: difference;
}

.frame__demos {
  grid-area: demos;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  color: #fff;
  mix-blend-mode: difference;
}

@media screen and (min-width: 53em) {
  .frame {
    padding: var(--page-padding, 1.5rem);
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    grid-template-columns: auto auto auto auto 1fr;
    grid-template-rows: auto auto;
    align-content: space-between;
    grid-template-areas:
      "title back github archive demos"
      "tags tags tags sponsor sponsor";
  }

  .frame__tags {
    align-self: end;
  }

  .frame__demos {
    justify-self: end;
    text-align: right;
    max-width: 300px;
  }
}
